<%layout("/layout/default.html",{'title' : '宁波市春晓中学'}){%>
<!--banner str-->
<div class="bannerbg keyan">
  	<div class="banner"></div>
</div>
<!--banner end-->
<!--bread str-->
<div class="bread">
  	<a href="#">首页</a> > ${indexObj.idx_name}
</div>
<!--bread end->
<!--mainnews str-->
<div class="mainnews">
	<div class="slideTxtBox"> 
		<div class="hd">
			<%include("/html/base/sidelist.html"){}%>
<!-- 		  	<div class="pic_class">
           		<a href="#"><img src="pic/pic03.jpg" /></a>
           		<a href="#"><img src="pic/pic04.jpg" /></a>
           		<a href="#"><img src="pic/pic05.jpg" /></a>
           		<a href="#"><img src="pic/pic06.jpg" /></a>
           		<a href="#"><img src="pic/pic07.jpg" /></a>
           		<a href="#"><img src="pic/pic08.jpg" /></a>
           	</div> -->
		</div>
		<div class="bd">
			<div class="slidebd">
                <h3><img src="images/hd_icon06.jpg" /></h3>
                <ul>
				<%for(news in page.list) {%>
					<li><i><img src="images/li_icon01.png" /></i><span class="date">${news.news_time, dateFormat="yyyy-MM-dd"}</span><a href="news?id=${news.id}" target="_blank">${news.news_title}</a></li>
				<%}%>				
				</ul>
                <div id="N-pageZone" class="tour" style="font-size: 14px">
				<div class="endPageConNum">
     				<a href="list?index=${index}&page=1&bk=${bk}">首页</a>
     				<%if(page.pageNumber == 1){ %>
     				<a href="#">上一页</a>
     				<%} else {%>
     				<a href="list?index=${index}&page=${page.pageNumber-1}&bk=${bk}">上一页</a>
     				<%}%>
     					
     				<%var i = 1; while(i < page.totalPage +1) {%>
     				<%if(i == page.pageNumber){ %>
     					<strong>${i}</strong>
     				<%} else {%>
     					<a href="list?index=${index}&page=${i}&bk=${bk}">${i}</a>
     				<%}
     					i=i+1;
     				}%>
     					
   					<%if(page.pageNumber == page.totalPage) {%>
   					<a href="#">下一页</a>
   					<% } else { %>
   					<a href="list?index=${index}&page=${page.pageNumber+1}&bk=${bk}">下一页</a>
   					<% } %>
     					
   					<%if(page.pageNumber == page.totalPage) {%>
   					<a href="#">尾页</a>
   					<% } else { %>
   					<a href="list?index=${index}&page=${page.totalPage}&bk=${bk}">尾页</a>
   					<% } %>
     			</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--mainnews end-->
<%}%>
