<%layout("/layout/default.html",{'title' : '春晓中学'}){%>
<!--banner str-->
<div class="bannerbg news">
  <div class="banner">
    <img src="pic/pic09.jpg" />
  </div>
</div>
<!--banner end-->
<!--bread str-->
<div class="bread">
  <a href="#">首页</a> > 新闻中心
</div>
<!--bread end->
<!--mainnews str-->
<div class="mainnews">
  		<div class="slideTxtBox">
            <div class="pic_class">
              <a href="#"><img src="pic/pic03.jpg" /></a>
              <a href="#"><img src="pic/pic04.jpg" /></a>
              <a href="#"><img src="pic/pic05.jpg" /></a>
              <a href="#"><img src="pic/pic06.jpg" /></a>
              <a href="#"><img src="pic/pic07.jpg" /></a>
              <a href="#"><img src="pic/pic08.jpg" /></a>
            </div>
			<div class="hd">
				<ul><li><img src="images/icon_news01.png" />  校园新闻</li><li>上级通知</li><li>周工作计划</li><li>校园公告</li></ul>
			</div>
			<div class="bd">
              <div class="slidebd">
                <h3><img src="images/hd_icon01.jpg" /></h3>
				<ul>
				<%for(news in newsList) { %>
					<li><i><img src="images/li_icon01.png" /></i><span class="date">${news.news_time, dateFormat="yyyy-MM-dd"}</span><a href="news?id=${news.id}" target="_blank">${news.news_title}</a></li>
				<% } %>
				</ul>
              </div>
             
              <div id="N-pageZone" class="tour" style="font-size: 14px">
     				<div class="endPageConNum"><a href="#">首页</a><a href="#">上一页</a><strong>1</strong><a href="#">2</a><p>...</p><a href="#">4</a><a href="#">下一页</a><a href="#">尾页</a><div class="jump">跳转&nbsp;<input type="text" name="jump">&nbsp;页</div>
     			    </div>
   			  </div>
			</div>
		</div>
		<script type="text/javascript">jQuery(".slideTxtBox").slide({trigger:"click",delayTime:0});</script>
</div>
<!--mainnews end-->
<% } %>
