#jdbc
url = jdbc:mysql://9.115.85.147:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#url = jdbc:mysql://localhost:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user = zzhen
pwd = aq1sw2de
driver = com.mysql.jdbc.Driver

internal_ip = 127.*
page_size = 15
