<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-decline',plain:true"
onclick="crud_deny()">
	拒绝
</a>
<script type="text/javascript">
var crud_deny = function() {
	var grid = $('#grid');
	var array = grid.datagrid('getSelections');
	var id2 = "";
	var num = array.length; //获取要删除信息的个数
	if (num == "0") {
		slideMsg("请选择一条记录！");
		return;
	}
	for (var i = 0; i < array.length; i++) { //组成一个字符串，ID主键用逗号隔开  
		id2 = id2 + array[i].pk_val + ",";
	}
	confirmDeny(grid, '${ctx}/singleGrid/booleanCrud/${menu.code}-' + id2 + '-' + '0' + "-cmmt_status");
};

var confirmDeny = function(grid, url){
	$.messager.confirm('请确认', '您要拒绝这些评论？', function(o) {
		if (o) {
			$.ajax({
				url : url,
				dataType : 'json',
				success : function(o) {
					if (o.success) {
						console.log(grid);
						grid.datagrid('load');
						grid.datagrid('unselectAll');
						slideMsg("操作成功！");
						// editRow = undefined;
					} else {
						$.messager.alert("操作错误", o.msg ,'error');
					}
				}
			});
		}
	});
};
</script>