url = jdbc:mysql://167.160.165.161:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user = zzhen
pwd = aq1sw2de

eova_url = jdbc:mysql://167.160.165.161:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = zzhen
eova_pwd = aq1sw2de

local_dir = E:/IBM_IPS/.metadata/.plugins/org.eclipse.wst.server.core/tmp1/wtpwebapps/SchoolCMS/files
local_dir = E:/GitRepo
web_dir = http://localhost:8080/files

#url = jdbc:mysql://9.115.83.218:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#user = zzhen
#pwd = aq1sw2de

#eova_url = jdbc:mysql://9.115.83.218:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#eova_user = zzhen
#eova_pwd = aq1sw2de

#local_dir = ~/SchoolCMS/files	
#web_dir = http://localhost:8080/files
