url = jdbc:mysql://9.115.83.52:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user = zzhen
pwd = aq1sw2de

eova_url = jdbc:mysql://9.115.83.52:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = zzhen
eova_pwd = aq1sw2de

local_dir = E:/workspace/private/.metadata/.plugins/org.eclipse.wst.server.core/tmp1/wtpwebapps/SchoolCMS/files
web_dir = http://localhost:8080/files

#url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#user = zzhen
#pwd = aq1sw2de

#eova_url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#eova_user = zzhen
#eova_pwd = aq1sw2de

#local_dir = ~/SchoolCMS/files
#web_dir = http://localhost:8080/files