<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>测试提交数据</title>
	<script type="text/javascript" src="/SchoolWeb/plugin/angular/angular.js"></script>
	<script type="text/javascript" src="/SchoolWeb/js/cmmt/sch_cmmt.js"></script>
</head>
<body>
	<div data-ng-app="sch.cmmt">
		<div data-ng-controller="schCmmtCtrl">
			<form method="post">
				<input type="text" data-ng-model="cmmt">
				<input type="text" data-ng-model="user">
				<input type="submit" data-ng-click="post()">
			</form>
		</div>
	</div>
</body>
</html>