#############################################################################################
url       = jdbc:mysql://9.115.85.147:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user      = zzhen
pwd       = aq1sw2de

eova_url  = jdbc:mysql://9.115.85.147:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = zzhen
eova_pwd  = aq1sw2de

local_dir = E:/GitRepo/MISC
web_dir = /files
#############################################################################################
#url = jdbc:mysql://localhost:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#user = zzhen
#pwd = aq1sw2de

#eova_url = jdbc:mysql://localhost:3306/SchoolCMS?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#eova_user = zzhen
#eova_pwd = aq1sw2de

#local_dir = E:/SchoolWebFiles/upload
#web_dir = /files

devMode = false
## CDN域名配置：需内网使用的用户可以下载Eova依赖的plugins
domain_cdn = /admin
## 如果本地有plugins可以配置成 domain_cdn = http://127.0.0.1:端口号
