url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
user = zzhen
pwd = aq1sw2de

eova_url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
eova_user = zzhen
eova_pwd = aq1sw2de

local_url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_user = zzhen
local_pwd = aq1sw2de

local_eova_url = jdbc:mysql://localhost:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
local_eova_user = zzhen
local_eova_pwd = aq1sw2de

#local_url = jdbc:mysql://9.115.83.218:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#local_user = zzhen
#local_pwd = aq1sw2de
#
#local_eova_url = jdbc:mysql://9.115.83.218:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#local_eova_user = zzhen
#local_eova_pwd = aq1sw2de

devMode = false

local_dir = E:/workspace/private/.metadata/.plugins/org.eclipse.wst.server.core/tmp1/wtpwebapps/CMS/files
web_dir = http://localhost:8080/files

#url = jdbc:mysql://167.160.165.161:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#user = zzhen
#pwd = aq1sw2de

#eova_url = jdbc:mysql://167.160.165.161:3306/WXShop?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
#eova_user = zzhen
#eova_pwd = aq1sw2de

## CDN域名配置：需内网使用的用户可以下载Eova依赖的plugins
domain_cdn = http://localhost:8080
## 如果本地有plugins可以配置成 domain_cdn = http://127.0.0.1:端口号
