<%layout("/eova/layout/default.html",{'title' : '修改' + obj.name }){%>

<script type="text/javascript">
var slideMsg = function(str,$pjq){
	$pjq.messager.show({
        title:'操作提示',
        msg:str,
        timeout:1500,
        showType:'slide'
    });
};
var submitNow = function($dialog, $grid, $pjq) {
	var url = "/singleGrid/update/${menu.code}";
	//console.log(url);
	$("#updateForm")[0].action = url;
	$("#updateForm")[0].submit();
	$dialog_w = $dialog;
	$grid_w = $grid;
	$pjq_w = $pjq;
};
var submitForm = function($dialog, $grid, $pjq) {
	showLoading($dialog);
	if ($.html5Validate.isAllpass($('#updateForm'))) {
		submitNow($dialog, $grid, $pjq);
	}
};

var complete = function(){
	console.info("----------------complete-------------------");
	var pres = $("#respFrame")[0].contentDocument.getElementsByTagName("pre")
	if(pres.length > 0){
		var result = eval("(" + pres[0].innerHTML + ")");
		if (result.success) {
			//$pjq.messager.alert('提示', result.msg, 'info');
			slideMsg("修改${obj.Name}成功！", $pjq_w);
			$grid_w.datagrid('load');
			$dialog_w.dialog('destroy');
		} else {
			$pjq_w.messager.alert('提示', result.msg, 'error');
		}
		
		hideLoading($dialog);
	}
};

function showLoading($dialog){
	$("<div class=\"datagrid-mask\" style=\"display:block\"></div>").appendTo($dialog);
	var msg = $("<div class=\"datagrid-mask-msg\" style=\"display:block;left:50%\"></div>").html("正在处理...").appendTo($dialog);
	msg._outerHeight(40);
    msg.css({
        marginLeft: ( - msg.outerWidth() / 2),
        lineHeight: (msg.height() + "px")
    });
}

function hideLoading($dialog){
	$dialog.children("div.datagrid-mask-msg").remove();
	$dialog.children("div.datagrid-mask").remove();
}
</script>
<body>
<#form id="updateForm" name="updateForm" items="${itemList}" isUpdate="true" isMulti="true" target="respFrame"/>

<iframe id="respFrame" name="respFrame" onload="complete()" style="visibility: hidden;"></iframe>
</body>
<%}%>
