<!DOCTYPE html>
<html>
<head>
<title>${title!}</title>
<%include("/html/base/meta.html"){}%>
<%include("/html/base/include.html"){}%>
</head>
<body>
<!--header str-->
<div class="headerbg">
  <div class="header">
    <a href="#"><img src="images/logo.png" /></a>
    <span class="fr"><a href="#">请登录</a><a href="#"><img src="pic/user_pic.jpg" /> 奈奈</a>|<a href="#">English Version</a>|<a href="#" class="on">中文</a>|</span>
  </div>
</div>
<!--header end-->

<%include("/html/base/menu.html"){}%>

${layoutContent}

<div class="clear"></div>
<!--foot str-->
<div class="footbg">
  <div class="foot">
    <ul>
      <li><i class="fl">版权所有：宁波春晓中学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;春晓中学信息网</i><span class="fr">浙ICP备08110569号 <img src="images/pic09.jpg" /></span></li>
      <li>电子邮箱：<a href="#" target="_blank">cxzx1628@jdedu.net</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网址：<a href="#" target="_blank">http://nbcxzx.jdedu.net</a></li>
    </ul>
  </div>
</div>
<!--foot end-->
</body>
<script>
    $(function () {
        console.info("page loaded!");
    });
</script>

</html>